#Quartus

*.qpf
*.qsf
*.qws
*.rpt
*.bak

debug.txt
db/
incremental_db/
output_files/
simulation/

#Vivado

*.wpc
*.lpr
*.xpr
*.wdf
*.xml
*.txt
*.rst
*.pb
*.js
*.sh
*.vdi
*.log
*.tcl
*.bat
*.dcp
*.jou
*.vds

*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

